<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Alphaleaf Test Suits">

    <listeners>
        <listener class-name="utility.TestListener"/>
    </listeners>


    <!-- Test Contexts -->
    <test name="UISmoke">
        <classes>
            <class name="tests.ParabankSmokeTest"/>
        </classes>
    </test>

    <test name="UIRegression">
        <classes>
            <class name="tests.DemonstrationTest"/>
            <class name="tests.DemoTest">
                <methods>
                    <include name="testCase11"/>
                    <include name="testCase12"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>